
<footer class="p-3 bg-white text-black text-center mt-auto">
    <div class="container">
        <p style="font-size: medium;">Copyright &copy; David Park 2023</p>
        <p style="font-size: smaller;"><a href="https://icons8.com/icon/76967/budget">Budget</a> icon by <a href="https://icons8.com">Icons8</a></p>
    </div>
    <a href="#" class="position-fixed bottom-0 end-0 me-5 mb-5 text-success">
        <i class="bi bi-arrow-up-circle h1"></i>
    </a>
</footer>
