
<footer class="p-4 bg-black text-white text-center position-relative">
    <div class="container">
        <p style="font-size: medium;">Copyright &copy; David Park 2023</p>
        <p style="font-size: smaller;"><a href="https://icons8.com/icon/76967/budget">Budget</a> icon by <a href="https://icons8.com">Icons8</a></p>
        <a href="#" class="position-fixed bottom-0 end-0 p-4 text-success">
            <i class="bi bi-arrow-up-circle h1"></i>
        </a>
    </div>
</footer>
