
<nav class="navbar navbar-expand-lg navbar-light py-3" style="background-color: white;">
    <div class="container-fluid">
        <a href="#"><img width="64" height="64" src="{{ url_for('static', filename='img/savings-svgrepo-com.svg') }}" alt="budget"
                style="margin-right: 20px;"></a>
        <a href="#" class="navbar-brand d-none d-sm-block"
            style="font-family: 'Kanit'; font-size: xx-large; font-weight: 800; color: rgb(0, 122, 49);">
            Budget App
            </a>
{% if current_user.is_authenticated %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                {# <li class="nav-item"> #}
                    {# <a href="#profile" class="nav-link"><img width="20" height="20" #}
                            {# src="{{ url_for('static', filename='img/navbar-icons/user-1.svg') }}" alt="user-default"  #}
                            {# style="margin-right: 10px;">Profile</a> #}
                {# </li> #}
                <li class="nav-item">
                    <a href="{{ url_for('main.transactions') }}" class="nav-link"><img width="20" height="20"
                            src="{{ url_for('static', filename='img/navbar-icons/picture-2.svg') }}" alt="overview"
                            style="margin-right: 10px;">All Transactions</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('main.budget_form') }}" class="nav-link"><img width="20" height="20"
                            src="{{ url_for('static', filename='img/navbar-icons/menu-1.svg') }}" alt="transactions"
                            style="margin-right: 10px;">Budget Form</a>
                </li>
                {# <li class="nav-item">
                    <a href="#settings" class="nav-link"><img width="20" height="20"
                            src="{{ url_for('static', filename='img/navbar-icons/settings-2.svg') }}" alt="settings" 
                            style="margin-right: 10px;">Settings</a>
                </li> #}
                <li class="nav-item">
                    <a href="{{ url_for('auth.logout')}}" class="nav-link"><img width="20" height="20" 
                    src="{{ url_for('static', filename='img/navbar-icons/quit-1.svg') }}" alt="log out" style="margin-right: 10px;">Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% else %}
    <div>
        <a href="{{ url_for('auth.login') }}">
            <button type="button" class="btn btn-outline-success btn-lg btn-rounded mx-1 px-3">Log In</button>
        </a>
        <span class="m-2"></span>
        <a href="{{ url_for('auth.signup') }}">
            <button type="button" class="btn btn-success btn-lg btn-rounded mx-1 px-3">Sign Up</button>
        </a>
    </div>
</nav>
{% endif %}

