{% extends "base.j2" %}

{% block content %}
<div class="container m-auto">
    <form action="" method="post">
        <h1>Sign up for a new account</h1>

        {{ form.hidden_tag() }}
        
        <p>
            <br>
            {{ form.first_name.label }}
            <br>
            {{ form.first_name(size=32) }}
            {% for error in form.first_name.errors %}
            <span class="err-msg">{{ error }}</span>
            {% endfor %}
        </p>

        <p>
            {{ form.last_name.label }}
            <br>
            {{ form.last_name(size=32) }}
            {% for error in form.last_name.errors %}
            <span class="err-msg">{{ error }}</span>
            {% endfor %}
        </p>

        <p>
            {{ form.username.label }}
            <br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.email.label }}
            <br>
            {{ form.email(size=32) }}
            {% for error in form.email.errors %}
            <span class="err-msg">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}
            <br>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
            <span class="err-msg">{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class="btn btn-success btn-lg my-4") }}</p>
    </form>
</div>
{% endblock %}