{% extends "base.j2" %}

{% block content %}
<h2>Post</h2>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.merchant.label }}<br>
        {{ form.merchant(size=150) }}<br>
        {% for error in form.merchant.errors %}
        <span class="err-msg">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.card.label }}<br>
        {{ form.card(size=150) }}<br>
        {% for error in form.card.errors %}
        <span class="err-msg">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.purchase_type.label }}<br>
        {{ form.purchase_type(size=150) }}<br>
        {% for error in form.purchase_type.errors %}
        <span class="err-msg">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.amount.label }}<br>
        {{ form.amount(size=150) }}<br>
        {% for error in form.amount.errors %}
        <span class="err-msg">{{ error }}</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}

{# 
merchant, card, purchase_type, amount
#}